.jobItem {
  display: flex;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
}

.imageWrapper {
  flex: 0 0 150px;
  margin-right: 16px;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.jobDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 4px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.categories {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;

  .minorCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .category {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.fee {
  font-size: 1rem;
  color: #e60023; /* red color for fee */
  margin-bottom: 16px;
}

.applyButton {
  align-self: flex-end;
  padding: 8px 16px;
  background-color: #00aaff; /* blue color for the button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.applyButton:hover {
  background-color: #008ecc;
}
