.jobItem {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.jobImage {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.jobDetails {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.location,
.postedTime {
  font-size: 0.875rem;
  color: #777;
  margin-top: 5px;
}

.categories {
  margin-bottom: 10px;
}

.minorCategories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  background-color: #f2f2f2;
  color: #555;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 5px 5px 0 0;
  font-size: 0.875rem;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.feeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.amount,
.fee {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.applyButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #48bbed;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3399cc;
  }
}
