$sign-color: #03c7ae; //시그니처 컬러 변수지정해서 사용하면 됩니다.

@media (max-width: 690px) {
  // .expertProfile {
  // }
}

@media (min-width: 691px) and (max-width: 890px) {
  // .expertProfile {
  // }
}

@media (min-width: 891px) {
  .expertProfile {
    .expertProfileHeader {
      width: 840px;
      margin: 0 auto;
    }
    .expertProfileContents {
      width: 840px;
      margin: 0 auto;
    }
  }
}

.expertProfile {
  padding-top: 110px;
}
