.notification {
  h2 {
    margin-top: 0;
  }
}

.loading {
  padding: 10px;
  text-align: center;
}

.error {
  padding: 10px;
  color: red;
  text-align: center;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notificationItem button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}
